.azul-claro{
    color: deepskyblue;
}
.amarillo-claro{
    color: coral
}
.morado-claro{
    color: cornflowerblue
    ;
}
.rosa-claro{
    color: pink;
}

.verde-claro{
    color: darkseagreen;
}

.Font-1{
    font-family: fantasy;
    font-size: small;
}

.Font-2{
    font-family: 'Times New Roman';
    font-size: x-small;
}

.Font-3{
    font-family: Tahoma;
    font-size: larger;
}

.Font-4{
    font-family: 'Courier New';
    font-size: xx-large;
}