
.title {
    color: #B07B99;
    text-align: center;
    margin-bottom: 25px;
}

.title {
    color: #B8588D;
    margin-top: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.group {
    margin-bottom: 15px;
}



.button {
    background-color: #8A496C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
}

.submit-button{
    background-color: #0056b3;
}


